<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/jquery.twbsPagination.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var $this = com.ebay.sre.search;
            $this.init();
        })
    </script>
</head>
<body>
<div style="margin-top:30px">
        <form class="bs-example bs-example-form" role="form" data-toggle="validator"
              action="/" method="get" id="searchInput" enctype="multipart/form-data">
            <div class="col-lg-9 col-lg-offset-2 ">
                <div class="input-group">
                    <input id="searchword" type="text" class="form-control" name="searchword" placeholder=
                        {{#if searchInput}}
                            {{searchInput}}
                        {{else}}
                        ''
                        {{/if}}>
                    <span class="input-group-btn">
			  <button class="btn btn-default" type="submit">Search</button>
	       </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </form>
    </div>
<div class="searchContent">
{{{body}}}
</div>
{{#if res}}
<div class="row row-centered">
    <!--1 2 3 -->
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</div>
{{/if}}
</body>
</html>
